@charset "utf-8";

/* reset */
* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #222;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MangoDdobak-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: rgb(213, 210, 216);
  overflow-x: hidden;
  font-family: "MangoDdobak-B";
  word-break: keep-all;
}

@media (min-width: 1800px) {
  /* header */
  header .menuBox {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
  }

  header h1 {
    position: relative;
  }

  header h1 img {
    width: 80px;
    cursor: pointer;
  }

  header h1:hover img {
    transform: rotateY(360deg);
    transition: 0.5s;
  }

  header h1 .subLogo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  header .menu {
    display: flex;
  }

  header .menu li {
    margin-right: 20px;
  }

  header .menu a {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400px;
    font-size: 25px;
    -webkit-text-stroke: 0px #333;
    color: transparent;
    text-shadow: 1px 1px 1px rgb(213, 210, 216), 1px 2px 0 #a8a7a6,
      2px 3px 0 #8b8a89, 2px 4px 0px #7d7b7a, 3px 5px 0px #686766;
    /*3px 6px 3px #5f5e5d,
    4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;*/
  }

  header .menu a:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    transition: 0.3s;
  }

  .menuBox .moblieMenu {
    display: none;
  }

  /* navi */
  .naviBar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .navi {
    /* background-color: red; */
    padding: 2px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .navi li {
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: rgb(213, 210, 216);
    border: 1px solid rgb(213, 210, 216);
    border-radius: 50%;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    box-shadow: 0px 1px 1px #c0c0c0, 0px 2px 3px #a8a7a6, 0px 3px 1px #8b8a89;
  }

  .navi li:hover {
    box-shadow: none;
    border: 1px solid #222;
    cursor: pointer;
  }

  .navi li.on {
    box-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    border: 1px solid #222;
    transition: 1s;
  }

  .navT {
    height: 500px;
    box-sizing: border-box;
  }

  /* container */
  #container > div {
    height: 100vh;
    box-sizing: border-box;
  }

  /* section0 */
  #section0 h2 {
    font-size: 150px;
    color: rgb(213, 210, 216);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
    transition: 1s;
  }

  #section0 h2.embo {
    font-size: 150px;
    color: rgb(213, 210, 216);
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section0 h2:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }

  #section0 {
    position: relative;
  }

  #section0 li {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .room .top {
    background-color: #222;
    bottom: 350px;
    left: 750px;
  }

  .room .bottom {
    background-color: #222;
    top: 380px;
    left: 750px;
  }

  .room .right {
    background-color: #222;
    top: 570px;
    left: 750px;
  }

  #section0 .room .left {
    width: 1px;
    height: 1000px;
    top: 282px;
    left: 297px;
    transform: rotate(65deg);
  }

  .room .left p {
    width: 100%;
    height: 0%;
    background-color: #222;
  }

  /* section1 */
  #section1 {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #section1 .aboutMe {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile {
    width: 450px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
  }
  .aboutMe img {
    width: 300px;
  }

  .textMe {
    width: 100%;
    margin-left: 50px;
  }

  .textMe h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 3rem;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89;
  }

  .textMe > p {
    margin-top: 20px;
  }

  .certificate {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    /* background: red; */
  }

  .certificate li {
    width: 20%;
    height: 50px;
    text-align: center;
    /* background: yellow; */
  }

  .certificate li i {
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
  }

  .certificate li p {
    font-size: 0.8rem;
    transition: 1s;
    opacity: 0;
  }

  .certificate li:hover i {
    margin-bottom: 0px;
  }

  .certificate li:hover p {
    opacity: 1;
  }

  /* section2 */
  #section2 {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-left: 100px;
    position: relative;
  }

  #section2 .ill img {
    position: absolute;
    top: 0px;
    height: 100vh;
  }

  #section2 .illText {
    position: relative;
    height: 80vh;
  }

  #section2 .illText h2 {
    font-size: 7rem;
    text-align: right;
    padding-top: 100px;
    padding-right: 5%;
    font-family: "Black Ops One", system-ui;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #d6d2d2, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section2 .soda img {
    width: 300px;
    position: absolute;
    top: -300px;
    left: -300px;
    animation: sodaman 5s infinite;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .soda {
    position: absolute;
    top: 300px;
    left: 50%;
  }

  #section2 li h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .heart {
    position: absolute;
    right: 50px;
    bottom: 150px;
    display: flex;
  }

  #section2 .heart img {
    width: 150px;
    animation: heart 4s infinite;
  }

  @keyframes heart {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .jupiter {
    position: absolute;
    left: 42%;
    bottom: 0px;
    display: flex;
    align-items: center;
  }

  .friend .jupiter img {
    width: 250px;
    animation: heart 4s infinite;
  }

  #section2 .buggy {
    position: absolute;
    right: 15%;
    bottom: -5%;
    display: flex;
    align-items: center;
  }
  .friend .buggy img {
    width: 100px;
    margin-left: 20px;
    animation: sodaman 5s infinite;
  }

  /* section3 */
  #section3 {
    width: 100%;
    height: 100vh;
    padding: 100px;
    position: relative;
    box-sizing: border-box;
  }

  #section3 .cont h3 {
    width: 350px;
    font-size: 80px;
    font-family: "Black Ops One", system-ui;
    background: #fff;
    border-radius: 200px;
  }

  #section3 .subTitle li {
    width: 100%;
    cursor: pointer;
    margin: 20px;
  }

  #section3 .subTitle li h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 2rem;
  }

  #section3 .subTitle div:nth-child(2) {
    margin-left: 20px;
  }

  #section3 .monitor {
    width: 40%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #section3 .Img {
    width: 475px;
    height: 270px;
    position: absolute;
    top: 48%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  #section3 .Img ul {
    width: calc(475px * 5);
    display: flex;
    position: relative;
  }

  #section3 .Img li {
    width: 475px;
  }

  #section3 .Img img {
    width: 100%;
  }

  #section3 .Image li.back {
    position: absolute;
    top: 0px;
    left: 500px;
  }

  #section3 .text {
    width: 35%;
    height: 50%;
    padding: 0px 50px;
    position: absolute;
    top: 60%;
    right: 0%;
    transform: translateY(-50%);
    overflow: hidden;
    box-sizing: border-box;
  }

  #section3 .text ul {
    width: 300%;
    display: flex;
    position: relative;
  }

  #section3 .Text li {
    width: 30%;
    position: absolute;
    top: 0px;
  }

  #section3 .text li:not(:first-child) {
    display: none;
  }

  #section3 .Text li h3 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  #section3 .Text li p {
    margin: 10px 0px;
  }

  #section3 .Text .site {
    display: flex;
    justify-content: center;
  }

  #section3 .Text .site div {
    width: 80px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 30px;
    text-align: center;
    padding: 5px 20px;
    margin: 20px 10px;
  }

  #section3 .Text .site div:hover {
    background-color: blue;
  }

  #section3 .Text .site div:hover a {
    color: #fff;
  }

  /* section4 */
  #section4 {
    box-sizing: border-box;
    padding: 200px;
    position: relative;
  }

  #section4 .bBox {
    text-align: right;
    position: relative;
  }

  #section4 .big {
    font-size: 100px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  #section4 .big li:hover {
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
  }

  #section4 .big .on {
    animation: bling infinite 1.5s ease;
  }

  @keyframes bling {
    0% {
      -webkit-text-stroke: 1px #222;
      color: transparent;
    }

    100% {
      color: #222;
    }
  }

  #section4 .sBox {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  #section4 .small li {
    opacity: 0;
    font-size: 35px;
  }

  #footer {
    font-family: "Black Ops One", system-ui;
    width: 100%;
    height: 50px;
  }

  #footer p:first-child {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }

  #footer p:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}
/* ------------------------pc */
@media (max-width: 1800px) and (min-width: 1300px) {
  /* header */
  header .menuBox {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
  }

  header h1 {
    position: relative;
  }

  header h1 img {
    width: 80px;
    cursor: pointer;
  }

  header h1:hover img {
    transform: rotateY(360deg);
    transition: 0.5s;
  }

  header h1 .subLogo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  header .menu {
    display: flex;
  }

  header .menu li {
    margin-right: 20px;
  }

  header .menu a {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400px;
    font-size: 25px;
    -webkit-text-stroke: 0px #333;
    color: transparent;
    text-shadow: 1px 1px 1px rgb(213, 210, 216), 1px 2px 0 #a8a7a6,
      2px 3px 0 #8b8a89, 2px 4px 0px #7d7b7a, 3px 5px 0px #686766;
    /*3px 6px 3px #5f5e5d,
    4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;*/
  }

  header .menu a:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    transition: 0.3s;
  }

  .menuBox .moblieMenu {
    display: none;
  }

  /* navi */
  .naviBar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .navi {
    /* background-color: red; */
    padding: 2px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .navi li {
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: rgb(213, 210, 216);
    border: 1px solid rgb(213, 210, 216);
    border-radius: 50%;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    box-shadow: 0px 1px 1px #c0c0c0, 0px 2px 3px #a8a7a6, 0px 3px 1px #8b8a89;
  }

  .navi li:hover {
    box-shadow: none;
    border: 1px solid #222;
    cursor: pointer;
  }

  .navi li.on {
    box-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    border: 1px solid #222;
    transition: 1s;
  }

  .navT {
    height: 500px;
    box-sizing: border-box;
  }

  /* container */
  #container > div {
    height: 100vh;
    box-sizing: border-box;
  }

  /* section0 */
  #section0 h2 {
    font-size: 150px;
    color: rgb(213, 210, 216);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
    transition: 1s;
  }

  #section0 h2.embo {
    font-size: 150px;
    color: rgb(213, 210, 216);
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section0 h2:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }

  #section0 {
    position: relative;
  }

  #section0 li {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .room .top {
    background-color: #222;
    bottom: 350px;
    left: 750px;
  }

  .room .bottom {
    background-color: #222;
    top: 380px;
    left: 750px;
  }

  .room .right {
    background-color: #222;
    top: 570px;
    left: 750px;
  }

  #section0 .room .left {
    width: 1px;
    height: 1000px;
    top: 282px;
    left: 297px;
    transform: rotate(65deg);
  }

  .room .left p {
    width: 100%;
    height: 0%;
    background-color: #222;
  }

  /* section1 */
  #section1 {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #section1 .aboutMe {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile {
    width: 450px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
  }
  .aboutMe img {
    width: 300px;
  }

  .textMe {
    width: 100%;
    margin-left: 50px;
  }

  .textMe h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 3rem;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89;
  }

  .textMe > p {
    margin-top: 20px;
  }

  .certificate {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    /* background: red; */
  }

  .certificate li {
    width: 20%;
    height: 50px;
    text-align: center;
    /* background: yellow; */
  }

  .certificate li i {
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
  }

  .certificate li p {
    font-size: 0.8rem;
    transition: 1s;
    opacity: 0;
  }

  .certificate li:hover i {
    margin-bottom: 0px;
  }

  .certificate li:hover p {
    opacity: 1;
  }

  .skils {
    font-size: 1.2rem;
    display: flex;
  }

  .skils h5 {
    margin-right: 20px;
  }

  /* section2 */
  #section2 {
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-left: 50px;
    position: relative;
  }

  #section2 .ill img {
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: -2;
  }

  #section2 .illText {
    position: absolute;
    right: 5%;
    width: 50%;
    height: 100vh;
    /* background:yellow;*/
  }

  #section2 .illText h2 {
    font-size: 5rem;
    text-align: right;
    padding-top: 100px;
    padding-right: 2%;
    font-family: "Black Ops One", system-ui;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #d6d2d2, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section2 .soda img {
    width: 40%;
    position: absolute;
    top: 0px;
    left: 30px;
    animation: sodaman 5s infinite;
    z-index: -1;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .soda div {
    width: 50%;
    position: absolute;
    top: 300px;
    right: 10px;
  }

  #section2 li h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .heart div {
    position: absolute;
    left: 150px;
    bottom: 340px;
  }

  #section2 .heart img {
    position: absolute;
    top: 450px;
    right: 0px;
    width: 20%;
    animation: heart 4s infinite;
  }

  @keyframes heart {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .jupiter {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
  }

  .friend .jupiter img {
    width: 50%;
    animation: heart 4s infinite;
  }

  #section2 .buggy {
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 30px;
    display: flex;
    align-items: center;
  }

  .friend .buggy img {
    width: 30%;
    margin-left: 70px;
    animation: sodaman 5s infinite;
  }

  /* section3 */
  #section3 {
    width: 100%;
    height: 100vh;
    padding: 100px 50px 100px 100px;
    position: relative;
    box-sizing: border-box;
  }

  #section3 .cont h3 {
    width: 40%;
    font-size: 80px;
    font-family: "Black Ops One", system-ui;
    background: #fff;
    border-radius: 200px;
  }

  #section3 .subTitle li {
    width: 25%;
    cursor: pointer;
    margin: 20px;
    /*background:red;*/
  }

  #section3 .subTitle li h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 2rem;
  }

  #section3 .subTitle div:nth-child(2) {
    margin-left: 20px;
  }

  #section3 .monitor {
    width: 45%;
    height: 50vh;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*background:yellow;*/
  }

  #section3 .Img {
    width: 475px;
    height: 268px;
    position: absolute;
    top: 48%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  #section3 .Img ul {
    width: calc(475px * 5);
    display: flex;
    position: relative;
  }

  #section3 .Img li {
    width: 475px;
    height: 268px;
  }

  #section3 .Img img {
    width: 100%;
  }

  #section3 .Image li.back {
    position: absolute;
    top: 0px;
    left: 500px;
  }

  #section3 .text {
    width: 25%;
    height: 50%;
    padding-left: 50px;
    position: absolute;
    top: 60%;
    right: 0%;
    transform: translateY(-50%);
    overflow: hidden;
    box-sizing: border-box;
    /*background:purple;*/
  }

  #section3 .text ul {
    width: 300%;
    display: flex;
    position: relative;
  }

  #section3 .Text li {
    width: 30%;
    position: absolute;
    top: 0px;
  }

  #section3 .text li:not(:first-child) {
    display: none;
  }

  #section3 .Text li h3 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  #section3 .Text li p {
    margin: 10px 0px;
  }

  #section3 .Text .site {
    display: flex;
    justify-content: center;
  }

  #section3 .Text .site div {
    width: 80px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 30px;
    text-align: center;
    padding: 5px 20px;
    margin: 20px 10px;
  }

  #section3 .Text .site div:hover {
    background-color: blue;
  }

  #section3 .Text .site div:hover a {
    color: #fff;
  }

  /* section4 */
  #section4 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 200px 100px;
    position: relative;
  }

  #section4 .bBox {
    text-align: right;
    position: relative;
  }

  #section4 .big {
    font-size: 100px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  #section4 .big li:hover {
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
  }

  #section4 .big .on {
    animation: bling infinite 1.5s ease;
  }

  @keyframes bling {
    0% {
      -webkit-text-stroke: 1px #222;
      color: transparent;
    }

    100% {
      color: #222;
    }
  }

  #section4 .sBox {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  #section4 .small li {
    opacity: 0;
    font-size: 35px;
  }

  #footer {
    font-family: "Black Ops One", system-ui;
    width: 100%;
    height: 50px;
  }

  #footer p:first-child {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }

  #footer p:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}
/* ------------------------tab */
@media (max-width: 1300px) and (min-width: 800px) {
  /* header */
  header .menuBox {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
  }

  header h1 {
    position: relative;
  }

  header h1 img {
    width: 80px;
    cursor: pointer;
  }

  header h1:hover img {
    transform: rotateY(360deg);
    transition: 0.5s;
  }

  header h1 .subLogo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  header .menu {
    display: flex;
  }

  header .menu li {
    margin-right: 20px;
  }

  header .menu a {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400px;
    font-size: 1.3rem;
    -webkit-text-stroke: 0px #333;
    color: transparent;
    text-shadow: 1px 1px 1px rgb(213, 210, 216), 1px 2px 0 #a8a7a6,
      2px 3px 0 #8b8a89, 2px 4px 0px #7d7b7a, 3px 5px 0px #686766;
    /*3px 6px 3px #5f5e5d,
    4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;*/
  }

  header .menu a:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    transition: 0.3s;
  }

  .menuBox .moblieMenu {
    display: none;
  }

  /* navi */
  .naviBar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .navi {
    /* background-color: red; */
    padding: 2px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .navi li {
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: rgb(213, 210, 216);
    border: 1px solid rgb(213, 210, 216);
    border-radius: 50%;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    box-shadow: 0px 1px 1px #c0c0c0, 0px 2px 3px #a8a7a6, 0px 3px 1px #8b8a89;
  }

  .navi li:hover {
    box-shadow: none;
    border: 1px solid #222;
    cursor: pointer;
  }

  .navi li.on {
    box-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    border: 1px solid #222;
    transition: 1s;
  }

  .navT {
    height: 500px;
    box-sizing: border-box;
  }

  /* container */
  #container > div {
    height: 100vh;
    box-sizing: border-box;
  }

  /* section0 */
  #section0 h2 {
    color: rgb(213, 210, 216);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
    transition: 1s;
  }

  #section0 h2.embo {
    font-size: 7rem;
    color: rgb(213, 210, 216);
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section0 h2:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }

  #section0 {
    position: relative;
  }

  #section0 li {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .room .top {
    background-color: #222;
    bottom: 350px;
    left: 750px;
  }

  .room .bottom {
    background-color: #222;
    top: 380px;
    left: 750px;
  }

  .room .right {
    background-color: #222;
    top: 570px;
    left: 750px;
  }

  #section0 .room .left {
    width: 1px;
    height: 1000px;
    top: 282px;
    left: 297px;
    transform: rotate(65deg);
  }

  .room .left p {
    width: 100%;
    height: 0%;
    background-color: #222;
  }

  /* section1 */
  #section1 {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #section1 .aboutMe {
    width: 90%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }
  .aboutMe img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .textMe {
    width: 100%;
    margin-left: 50px;
  }

  .textMe h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 3rem;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89;
  }

  .textMe > p {
    margin-top: 20px;
  }

  .certificate {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    /* background: red; */
  }

  .certificate li {
    width: 20%;
    height: 50px;
    text-align: center;
    /* background: yellow; */
  }

  .certificate li i {
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
  }

  .certificate li p {
    font-size: 0.8rem;
    transition: 1s;
    opacity: 0;
  }

  .certificate li:hover i {
    margin-bottom: 0px;
  }

  .certificate li:hover p {
    opacity: 1;
  }

  /* section3 */
  #section3 {
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    position: relative;
    box-sizing: border-box;
  }

  #section3 .cont h3 {
    width: 100%;
    font-size: 80px;
    font-family: "Black Ops One", system-ui;
    background: #fff;
    border-radius: 200px;
  }

  #section3 .subTitle {
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  #section3 .subTitle li {
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    /*background:red;*/
  }

  #section3 .subTitle li h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 1.5rem;
  }

  #section3 .subTitle div:nth-child(2) {
    margin-left: 20px;
  }

  #section3 .monitor {
    width: 48%;
    height: 100vh;
    position: relative;
    top: 40px;
    /*background:pink;*/
  }

  #section3 .Img ul {
    width: calc(100% * 5);
    display: flex;
    position: relative;
  }

  #section3 .Img li {
    width: 100%;
    position: absolute;
  }

  #section3 .Img img {
    width: 20%;
  }

  #section3 .Img2 {
    position: absolute;
  }

  #section3 .Img2 img {
    width: 100%;
    height: 60vh;
  }

  #section3 .Image li.back {
    position: absolute;
    top: 0px;
    left: 500px;
  }

  #section3 .text {
    width: 50%;
    height: 50%;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    right: 0%;
    overflow: hidden;
    box-sizing: border-box;
    /*background:purple;*/
  }

  #section3 .text ul {
    width: 300%;
    display: flex;
    position: relative;
  }

  #section3 .Text li {
    width: 30%;
    position: absolute;
    top: 0px;
  }

  #section3 .text li:not(:first-child) {
    display: none;
  }

  #section3 .Text li h3 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  #section3 .Text li p {
    margin: 10px 0px;
  }

  #section3 .Text .site {
    display: flex;
    justify-content: center;
  }

  #section3 .Text .site div {
    width: 80px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 30px;
    text-align: center;
    padding: 5px 20px;
    margin: 20px 10px;
  }

  #section3 .Text .site div:hover {
    background-color: blue;
  }

  #section3 .Text .site div:hover a {
    color: #fff;
  }

  /* section4 */
  #section4 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 100px 5%;
    position: relative;
    box-sizing: border-box;
  }

  #section4 .bBox {
    text-align: right;
    position: relative;
  }

  #section4 .big {
    font-size: 5rem;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 10rem;
  }

  #section4 .big li:hover {
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
  }

  #section4 .big .on {
    animation: bling infinite 1.5s ease;
  }

  @keyframes bling {
    0% {
      -webkit-text-stroke: 1px #222;
      color: transparent;
    }

    100% {
      color: #222;
    }
  }

  #section4 .sBox {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  #section4 .small li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    opacity: 0;
    font-size: 35px;
  }

  #footer {
    font-family: "Black Ops One", system-ui;
    width: 100%;
    height: 50px;
  }

  #footer p:first-child {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }

  #footer p:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}

/* ------------------------moblie */
@media (max-width: 800px) and (min-width: 300px) {
  /* header */
  header .menu {
    display: none;
  }

  header h1 {
    position: fixed;
    margin: 3%;
    z-index: 99;
  }

  header h1 img {
    width: 80px;
    cursor: pointer;
  }

  header h1:hover img {
    transform: rotateY(360deg);
    transition: 0.5s;
  }

  header h1 .subLogo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .menuBox .moblieMenu {
    display: none;
  }

  /* navi */
  .naviBar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .navi {
    /* background-color: red; */
    padding: 2px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .navi li {
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: rgb(213, 210, 216);
    border: 1px solid rgb(213, 210, 216);
    border-radius: 50%;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    box-shadow: 0px 1px 1px #c0c0c0, 0px 2px 3px #a8a7a6, 0px 3px 1px #8b8a89;
  }

  .navi li:hover {
    box-shadow: none;
    border: 1px solid #222;
    cursor: pointer;
  }

  .navi li.on {
    box-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    border: 1px solid #222;
    transition: 1s;
  }

  .navT {
    height: 500px;
    box-sizing: border-box;
  }

  /* container */
  #container > div {
    height: 100vh;
    box-sizing: border-box;
    /* border: 2px solid red; */
  }

  /* section0 */
  #section0 h2 {
    width: 80%;
    font-size: 4rem;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
    color: rgb(213, 210, 216);
    transition: 1s;
    box-sizing: border-box;
  }

  #section0 h2.embo {
    color: rgb(213, 210, 216);
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section0 h2:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }

  #section0 {
    position: relative;
  }

  #section0 li {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .room .top {
    background-color: #222;
    bottom: 350px;
    left: 750px;
  }

  .room .bottom {
    background-color: #222;
    top: 380px;
    left: 750px;
  }

  .room .right {
    background-color: #222;
    top: 570px;
    left: 750px;
  }

  #section0 .room .left {
    width: 1px;
    height: 1000px;
    top: 282px;
    left: 297px;
    transform: rotate(65deg);
  }

  .room .left p {
    width: 100%;
    height: 0%;
    background-color: #222;
  }

  /* section1 */
  #section1 {
    width: 90%;
    position: relative;
    left: 10%;
    text-align: center;
  }
  #section1 .aboutMe {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile {
    width: 80%;
    height: 250px;
    margin: 0px auto;
    border-radius: 20px;
    overflow: hidden;
  }
  .aboutMe img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .textMe {
    width: 90%;
  }

  .textMe h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 2rem;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89;
  }

  .textMe > p {
    margin-top: 20px;
  }

  .certificate {
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    /* background: red; */
  }

  .certificate li {
    width: 20%;
    height: 50px;
    text-align: center;
    /* background: yellow; */
  }

  .certificate li i {
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
  }

  .certificate li p {
    font-size: 0.8rem;
    transition: 1s;
    opacity: 0;
  }

  .certificate li:hover i {
    margin-bottom: 0px;
  }

  .certificate li:hover p {
    opacity: 1;
  }

  .skils {
    font-size: 1.3rem;
    line-height: 3rem;
  }

  /*section2*/
  #section2 {
    text-align: center;
    position: relative;
  }
  #section2 .ill img {
    width: 95%;
  }

  #section2 h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .soda img {
    width: 20%;
    position: absolute;
    top: 55%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .heart img {
    width: 15%;
    position: absolute;
    top: 70%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .jupiter img {
    width: 20%;
    position: absolute;
    bottom: 13%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  .friend h3 {
    display: none;
  }

  #section2 .buggy img {
    width: 20%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText div {
    width: 70%;
    margin: 10px auto;
  }

  /* section3 */
  #section3 {
    height: 100vh;
    padding: 100px 0px;
    position: relative;
  }

  #section3 .cont h3 {
    width: 100%;
    font-size: 3rem;
    font-family: "Black Ops One", system-ui;
    background: #fff;
    border-radius: 200px;
  }

  #section3 .subTitle {
    display: none;
  }

  #section3 .subTitle li {
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
    /*background:red;*/
  }

  #section3 .subTitle li h4 {
    font-family: "Black Ops One", system-ui;
    font-size: 1rem;
  }

  #section3 .subTitle div:nth-child(2) {
    margin-left: 20px;
  }

  #section3 .monitor {
    width: 90%;
    height: 100vh;
    position: relative;
    top: 5%;
    left: 60%;
    transform: translateX(-50%);
    /*background:pink;*/
  }

  #section3 .Img ul {
    /* width: calc(100% * 5); */
    display: flex;
    position: relative;
  }

  #section3 .Img li {
    width: 70%;
    position: absolute;
  }

  #section3 .Img img {
    width: 100%;
  }

  #section3 .Img2 {
    width: 80%;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
  }

  #section3 .Img2 img {
    width: 100%;
  }

  #section3 .Image li.back {
    position: absolute;
    top: 0px;
    left: 200px;
  }

  #section3 .text {
    width: 90%;
    height: 50%;
    padding-left: 50px;
    position: absolute;
    top: 70%;
    right: 0%;
    overflow: hidden;
    box-sizing: border-box;
    /*background:purple;*/
  }

  #section3 .text ul {
    width: 300%;
    display: flex;
    position: relative;
  }

  #section3 .Text li {
    width: 30%;
    position: absolute;
    top: 0px;
  }

  #section3 .text li:not(:first-child) {
    display: none;
  }

  #section3 .Text li h3 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  #section3 .Text li p {
    margin: 10px 0px;
  }

  #section3 .Text .site {
    display: flex;
    justify-content: center;
  }

  #section3 .Text .site div {
    width: 80px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 30px;
    text-align: center;
    padding: 5px 20px;
    margin: 20px 10px;
  }

  #section3 .Text .site div:hover {
    background-color: blue;
  }

  #section3 .Text .site div:hover a {
    color: #fff;
  }

  /* section4 */
  #section4 {
    width: 100%;
    height: 100vh;
    padding: 100px 5%;
    box-sizing: border-box;
    position: relative;
  }

  #section4 .bBox {
    text-align: right;
    position: relative;
  }

  #section4 .big {
    font-size: 2rem;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 8rem;
  }

  #section4 .big li:hover {
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
  }

  #section4 .big .on {
    animation: bling infinite 1.5s ease;
  }

  @keyframes bling {
    0% {
      -webkit-text-stroke: 1px #222;
      color: transparent;
    }

    100% {
      color: #222;
    }
  }

  #section4 .sBox {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  #section4 .small li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    opacity: 0;
    font-size: 35px;
  }

  #footer {
    font-size: 0.5rem;
    font-family: "Black Ops One", system-ui;
    width: 100%;
    height: 50px;
  }

  #footer p:first-child {
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  #footer p:nth-child(2) {
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}

/* ------------------------moblie section2 / section3 */
@media (max-width: 1300px) and (min-width: 1200px) {
  /* section2 */
  #section2 {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 0;
    padding-left: 50px;
  }

  #section2 .ill img {
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: -2;
  }

  #section2 .illText {
    position: absolute;
    right: 5%;
    width: 50%;
    height: 100vh;
    /* background:yellow;*/
  }

  #section2 .illText h2 {
    font-size: 5rem;
    text-align: right;
    padding-top: 100px;
    padding-right: 2%;
    font-family: "Black Ops One", system-ui;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #d6d2d2, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section2 .soda img {
    width: 40%;
    position: absolute;
    top: 0px;
    left: 30px;
    animation: sodaman 5s infinite;
    z-index: -1;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .soda div {
    width: 50%;
    position: absolute;
    top: 300px;
    right: 10px;
  }

  #section2 li h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .heart div {
    position: absolute;
    left: 150px;
    bottom: 340px;
  }

  #section2 .heart img {
    position: absolute;
    top: 450px;
    right: 0px;
    width: 20%;
    animation: heart 4s infinite;
  }

  @keyframes heart {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .jupiter {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
  }

  .friend .jupiter img {
    width: 50%;
    animation: heart 4s infinite;
  }

  #section2 .buggy {
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 30px;
    display: flex;
    align-items: center;
  }

  .friend .buggy img {
    width: 30%;
    margin-left: 70px;
    animation: sodaman 5s infinite;
  }

  /*section3*/
  #section3 .Img {
    width: 70%;
    height: 30vh;
    position: absolute;
    top: 9%;
    left: 40%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 1200px) and (min-width: 1100px) {
  /* section2 */
  #section2 {
    padding-top: 0;
    padding-left: 50px;
    position: relative;
  }

  #section2 .ill img {
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: -2;
  }

  #section2 .illText {
    position: absolute;
    right: 5%;
    width: 50%;
    height: 100vh;
    /* background:yellow;*/
  }

  #section2 .illText h2 {
    font-size: 5rem;
    text-align: right;
    padding-top: 100px;
    padding-right: 2%;
    font-family: "Black Ops One", system-ui;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    text-shadow: 1px 1px 1px #d6d2d2, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }

  #section2 .soda img {
    width: 40%;
    position: absolute;
    top: 0px;
    left: 30px;
    animation: sodaman 5s infinite;
    z-index: -1;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .soda div {
    width: 50%;
    position: absolute;
    top: 300px;
    right: 10px;
  }

  #section2 li h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .heart div {
    position: absolute;
    left: 150px;
    bottom: 340px;
  }

  #section2 .heart img {
    position: absolute;
    top: 450px;
    right: 0px;
    width: 20%;
    animation: heart 4s infinite;
  }

  @keyframes heart {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .jupiter {
    position: absolute;
    left: 50px;
    bottom: 100px;
    display: flex;
    align-items: center;
  }

  .friend .jupiter img {
    width: 50%;
    animation: heart 4s infinite;
  }

  #section2 .buggy {
    width: 50%;
    position: absolute;
    right: 0px;
    bottom: 30px;
    display: flex;
    align-items: center;
  }

  .friend .buggy img {
    width: 30%;
    margin-left: 70px;
    animation: sodaman 5s infinite;
  }

  /*section3*/
  #section3 .Img {
    width: 90%;
    height: 30vh;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  /*section2*/
  #section2 {
    text-align: center;
    position: relative;
  }
  #section2 .ill img {
    height: 100vh;
  }

  #section2 h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .soda img {
    width: 20%;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .heart img {
    width: 15%;
    position: absolute;
    top: 30%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .jupiter img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .buggy img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 90%;
    height: 25vh;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 1000px) and (min-width: 900px) {
  /*section2*/
  #section2 {
    text-align: center;
    position: relative;
  }
  #section2 .ill img {
    height: 100vh;
  }

  #section2 h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .soda img {
    width: 20%;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .heart img {
    width: 15%;
    position: absolute;
    top: 30%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .jupiter img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .buggy img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 90%;
    height: 23vh;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  /*section2*/
  #section2 {
    text-align: center;
    position: relative;
  }
  #section2 .ill img {
    height: 100vh;
  }

  #section2 h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  #section2 .soda img {
    width: 20%;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  @keyframes sodaman {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  #section2 .heart img {
    width: 15%;
    position: absolute;
    top: 30%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .jupiter img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .buggy img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    animation: sodaman 5s infinite;
    cursor: pointer;
  }

  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 90%;
    height: 20vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 95%;
    height: 40vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 95%;
    height: 34vh;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 95%;
    height: 26vh;
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  #section2 .illText h2 {
    display: none;
  }

  #section2 .illText h3 {
    display: none;
  }

  #section2 .illText p {
    display: none;
  }

  /*section3*/
  #section3 .Img {
    width: 95%;
    height: 25vh;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}

@media (max-width: 400px) and (min-width: 300px) {
  /*section3*/
  #section3 .Img {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 5%;
    left: 60%;
    transform: translateX(-50%);
    overflow: hidden;
  }
}
